{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}
{% block body %}
<h1>contact us </h1>
{{ form_start(contactForm) }}

{{ form_widget(contactForm) }}
{{ form_end(contactForm) }}
{% endblock %}